*{
  overflow-x: hidden;
}

.project-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.project-table th,
.project-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    vertical-align: top;
}

.project-table th {
    background-color: #00b894;
    color: white;
    font-weight: 600;
}

.vertex-alloc span {
    display: inline-block;
    margin-bottom: 5px;
    color: #333;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #f1f1f1;
    font-weight: bold;
}

span {
    font-weight: 500;
    color: #2d3436;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  gap: 15px;
 
}

.btn {
  padding: 18px 25px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.btn-csv {
  background-color: #00b894; /* Teal */
}

.btn-pdf {
  background-color: #d63031; /* Red */
}

.btn:hover {
  opacity: 0.9;
}
