{% load static %}  <!-- import static folder files to use here in link -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Health Report</title>
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
</head>
<body>
    <nav>
      <div class="nav__content">
        <div class="logo">Project Health Report</div>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <!-- 
            {% if user.is_authenticated %}
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}" onclick="return confirm('Are you sure you want to logout?')">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
            -->
        </ul>
      </div>
    </nav>

    
</body>
</html>
